/node_modules
/vendor
/public/hot
/public/assets/files/*.zip
/public/assets/files/*.pdf
/storage/*.key
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/storage/app/public/*
!/storage/app/public/.gitignore
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
.idea
.vscode
*.log
